@import 'tailwindcss';

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../assets/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
}

.navbar-item {
    @apply flex items-center px-4 transition-colors duration-300 hover:bg-neutral-200 hover:cursor-pointer
}

.menu-item {
    @apply py-2 px-4 hover:cursor-pointer transition-colors duration-300 hover:bg-neutral-200
}

.menu-item-top {
    @apply rounded-t-md py-2 px-4 hover:cursor-pointer transition-colors duration-300 hover:bg-neutral-200
}

.menu-item-bottom {
    @apply rounded-b-md py-2 px-4 hover:cursor-pointer transition-colors duration-300 hover:bg-neutral-200
}