@import 'tailwindcss';

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../../assets/fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
}

.navbar-item {
    @apply flex items-center px-4 transition-colors duration-300 hover:bg-neutral-200 hover:cursor-pointer
}

.menu-item {
    @apply py-2 pl-2 pe-10 hover:cursor-pointer transition-colors duration-300 hover:bg-neutral-200
}

.menu-item-top {
    @apply rounded-t-md pl-2 py-2 pe-10 hover:cursor-pointer transition-colors duration-300 hover:bg-neutral-200
}

.menu-item-bottom {
    @apply rounded-b-md pl-2 py-2 pe-10 hover:cursor-pointer transition-colors duration-300 hover:bg-neutral-200
}

.card {
    @apply bg-gray-50/50 border border-gray-100 rounded-3xl p-8 flex flex-col items-center shadow-md hover:shadow-xl hover:shadow-neutral-300/50 hover:scale-101 transition-all duration-300
}

.skill-icon {
    @apply w-12 h-12 lg:grayscale lg:hover:grayscale-0 transition duration-300 object-contain hover:scale-110
}

.tag {
    @apply border border-solid rounded-full transition-colors duration-300 text-indigo-500 bg-neutral-100 hover:bg-indigo-500 hover:border-indigo-500 hover:text-neutral-100
}